.dashboard {
    background-color: #EFEFEF;
    display: flex;
}

.info-calleds {
    background-color: #F8F8F8;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 97.5%;
    margin: 15px auto;
    padding: 60px 0;
}

.info-calleds span {
    font-size: 17px;
    font-weight: 700;
}

.new {
    background-color: #5FD204;
    display: flex;
    align-items: center;
    max-width: 150px;
    margin-right: 20px;
    margin-bottom: 15px;
    padding: 8px;
    border: none;
    border-radius: 0.3rem;
    color: #fff;
    cursor: pointer;
    font-weight: 500;
    float: right;
}

.new:hover {
    filter: brightness(1.1)
}

table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0 auto;
    padding: 0;
    width: 97.5%;
    table-layout: fixed;
}

table caption {
    font-size: 1.5rem;
    margin: .5rem .75rem;
}

table tr {
    background-color: #F8F8F8;
    border: 1px solid #ddd;
    padding: .35em;
}

table th, table td {
    padding: .72em;
    text-align: center;
}

table th {
    font-size: 11.5px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

table td {
    font-size: 14px;
}

.stats {
    background-color: #999999;
    padding: 3px;
    border-radius: 3px;
    font-size: 14px;
    color: #fff;
}

.actions {
    display: flex;
    justify-content: center;
}

.actions button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    border: none;
    border-radius: 5px;
}

.search {
    margin-right: 7px;
    background-color: #3583F6;
}

.edit {
    background-color: #F6A935;
}



@media(max-width: 700px) {
    .dashboard {
        flex-direction: column;
    }
}