.dashboard {
    background-color: #EFEFEF;
    display: flex;
}

.info-calleds {
    background-color: #F8F8F8;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 97.5%;
    margin: 15px auto;
    padding: 60px 0;
}

.info-calleds span {
    font-size: 17px;
    font-weight: 700;
}

.new {
    background-color: #5FD204;
    display: flex;
    align-items: center;
    max-width: 150px;
    padding: 8px;
    border: none;
    border-radius: 0.3rem;
    color: #fff;
    cursor: pointer;
    font-weight: 500;
    float: right;
    margin-right: 20px;
}

.new:hover {
    filter: brightness(1.1)
}


@media(max-width: 700px) {
    .dashboard {
        flex-direction: column;
    }
}