.img-profile input {
    display: none;
}

.img-profile img {
    position: relative;
    width: 250px;
    height: 250px;
    margin: 50px 0 0 25px;
    border-radius: 50%;
    z-index: 100;
    cursor: pointer;
    object-fit: cover;
}

.img-profile svg {
    position: relative;
    bottom: 130px;
    right: 141px;
    z-index: 300;
    cursor: pointer;
}

.form-profile {
    max-width: 48%;
    margin: 10px 0;
}

.form-profile label {
    display: block;
    font-size: 20px;
    margin-top: 15px;
}

.form-profile input {
    display: block;
    width: 100%;
    padding: 9px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 0.3rem;
    outline: none;
}

.form-profile button {
    background-color: #181C2E;
    width: 100%;
    margin-top: 30px;
    padding: 8px 0;
    color: #fff;
    border-radius: 0.3rem;
    border: none;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
}

.form-profile button:hover {
    filter: brightness(1.5);
}

.form-profile button:active {
    opacity: 0.9;
}

.logout {
    background-color: #F8F8F8;
    width: 97.5%;
    margin: 15px auto 0 auto;
    padding: 10px;
    border-radius: 6px;
}

.logout button {
    padding: 8px 30px;
    font-size: 23px;
    font-weight: 400;
    color: #181C2E;
    border-radius: 0.3rem;
    border: 1px solid #181C2E;
    cursor: pointer;
}

.disabled {
    cursor: not-allowed;
}

