* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

html, body, #root {
  height: 100%;
}

.container {
  display: flex;
}

.calleds, .customers, .profile {
  background-color: #EFEFEF;
  width: 100%;
}

.info-profile, .info-customers {
  background-color: #F8F8F8;
  display: flex;
  flex-direction: column;
  width: 97.5%;
  margin: 0 auto;
  border-radius: 6px;
  padding-left: 11px;
}


